# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# SQLite
*.db
*.sqlite3

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
dist/
.DS_Store

# Sensitive files
*.txt
!requirements.txt
!backend/requirements.txt
adgeno token in hudding face.txt

# Vercel
.vercel
